<!-- Template for /tags/ and /categories/ -->

<!-- Styling for the table -->
<style>
  table.terms, td.terms-date, td.terms-title {
    border:none;
  }
  
  td.terms-date {
      padding: 0 10px 0 0;
  }
  
  td.terms-title {
      font-size: 110%;
  }
  </style>

{{ $page := . }}
{{ $data := .Data }}
{{ $.Scratch.Set "terms" $data.Terms.ByCount }}  <!-- default is ByCount -->

{{ with .Site.Params.generateTaxonomyList }}

  {{ partial "header.html" $page }}
  <div id="main">
    <div id="content">
      <div>
        <article role="article">
          <header>
            <h1 class="entry-title">
              {{ $.Title }}:
            </h1>
          </header>
          {{ with $.Site.Params.sortTaxonomyAlphabetical }}
            {{ if eq . true }}
              {{ $.Scratch.Set "terms" $data.Terms.Alphabetical }}
            {{ end }}
          {{ end }}
          <table class="terms">
            {{ range $key, $value := ($.Scratch.Get "terms") }}
                 <tr>
                  <td class="terms-date"><a href="{{ $value.Name | urlize }}">{{ humanize $value.Name }}</a></td>
                  <td class="terms-title"><strong>{{ $value.Count }}</strong></td>
                </tr>
             {{ end }}
          </table>
        </article>
      </div>

      {{ partial "sidebar.html" $page }}
    </div>
  </div>

  {{ partial "footer.html" $page }}

{{ end }}
