
<!-- License page - works on any markdown file in content with type:license in its header 
     by default it's in content/license.markdown-->

{{ partial "header.html" . }}

<div id="main">
  <div id="content">
    <div>
      <article class="hentry" role="article">
        <header>
          <h1 class="entry-title">
            License<!-- we don't need page title to be a link -->
          </h1>
        </header>
        <div class="entry-content">
          {{ .Content }}
        </div>
      </article>
    </div>
    {{ partial "sidebar.html" . }}
  </div>
</div>

{{ partial "footer.html" . }}

