{{ partial "header.html" . }}

<div id="main">
 <div id="content">
  <div class="blog-index">
    {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}
    {{ range $paginator.Pages }}
    <article>
      <header>
        <h1 class="entry-title">
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </h1>
        <p class="meta">{{ .Date.Format "Jan 2, 2006" }} - {{ .ReadingTime }} minute read - {{ if .Site.Params.disqusShortname }} <a href="{{ .Permalink }}#disqus_thread">Comments</a>{{ end }}

        {{ if isset .Params "categories" }}
        <!-- <br/> this will make the categories go to the second line and mess with the title -->
        <!-- in order to make category URLs work, we need to urlize them and then convert them to lowercase
             e.g. .NET Remoting -urlize-> .NET-Remoting -lowercase-> .net-remoting -->
        {{ range .Params.categories }}<a class="label" href="{{ "/categories/" | absURL }}{{ . | urlize | lower }}/">{{ . }}</a>{{ end }}
        {{ end }}</p>

      </header>

        {{ if eq .Site.Params.truncate false }}
        {{ .Content }}
        {{ else if .Description }}
        {{ .Description }}
          <footer>
            <a href="{{ .Permalink }}" rel="full-article">{{ if isset .Site.Params "continue_reading" }}{{ .Site.Params.continue_reading }} &rarr;{{ else }}Read On &rarr;{{ end }}</a>
          </footer>
        {{ else }}
          <p>{{ .Summary }}</p>

          {{ if .Truncated }}
              <footer>
                  <a href="{{ .Permalink }}" rel="full-article">{{ if isset .Site.Params "continue_reading" }}{{ .Site.Params.continue_reading }} &rarr;{{ else }}Read On &rarr;{{ end }}</a>
              </footer>
          {{ end }}

        {{ end }}

    </article>
    {{ end }}
    <!-- {{ template "_internal/pagination.html" . }} default pagination -->
    {{ partial "pagination.html" . }}  <!-- use custom pagination --> 

  </div>

  {{ partial "sidebar.html" . }}    <!-- sidebar -->
 </div>
</div>

{{ partial "footer.html" . }}   <!-- footer -->